*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    overflow: auto;
  }
  .nav-bar{
    background-image: url("../image/Cloths-bc740630f228713e4bb0de8a7bffce22.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    text-align: center;
  }
  ul{
    list-style: none;
  }
  li{
    display: inline-block;
  }
  li a{
    color: black; 
    padding:10px 20px 10px 20px;
  }
  .identity{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .brand-logo {
    margin-right: auto;
  }
  a:hover{
    color: black;
    text-decoration: none;
    background-color: #ddd;
  }
  .identity .font-style{
    color: rgb(51, 211, 51);
  }
  .join-link{
    border: 1px solid gray;
    transition: all 0.3s ease 0.3s;
  }
  .join-link:hover{
  
    background-color: gray;
    color: white;
  }
  .Help-link{
    transition: all 0.3s ease 0.3s;
  }
  .Help-link:hover{
    color:gray;
  }
  #search {
    background-position: 100% 100%;
    width: 50%;
    font-size: 12px;
    padding: 12px 20px 12px 40px;
    border: 1px solid gray;
    margin-top: 70px;
    border-radius: 2em / 2em;
    margin-bottom: 150px;
  }
  a{
      text-decoration: none;
  }