*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body{
    overflow: auto;
  }
  .nav-bar{
    background-image: url("../image/Cloths-bc740630f228713e4bb0de8a7bffce22.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    text-align: center;
  }
  ul{
    list-style: none;
  }
  li{
    display: inline-block;
  }
  li a{
    color: black; 
    padding:10px 20px 10px 20px;
  }
  .identity{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .brand-logo {
    margin-right: auto;
  }
  a:hover{
    color: black;
    text-decoration: none;
    background-color: #ddd;
  }
  .identity .font-style{
    color: rgb(51, 211, 51);
  }
  .join-link{
    border: 1px solid gray;
    transition: all 0.3s ease 0.3s;
  }
  .join-link:hover{
  
    background-color: gray;
    color: white;
  }
  .Help-link{
    transition: all 0.3s ease 0.3s;
  }
  .Help-link:hover{
    color:gray;
  }
  #search {
    background-position: 100% 100%;
    width: 50%;
    font-size: 12px;
    padding: 12px 20px 12px 40px;
    border: 1px solid gray;
    margin-top: 70px;
    border-radius: 2em / 2em;
    margin-bottom: 150px;
  }
  a{
      text-decoration: none;
  }
  .flex-content {
    display: flex;
    color: white;
    flex-direction: row;  
  }
  .flex-content > div{
    align-items: center;
    margin: 10px;
  }
  .flex-content .content{
    margin-left: 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    padding-top: 5px;
  }
  .content img{
    width:70px;
  }
  .content1 {
    background-color: rgb(241, 147, 163);
    width: 100%;
    border: solid 1px black;
    margin-left: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 162px;
  }
  .content2 {
    background-color:  rgb(243, 205, 134);
    width: 100%;
    border: solid 1px black;
    margin-left: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 162px;
  }
  .content3 {
    background-color: rgb(223, 126, 223);
    width: 100%;
    border: solid 1px black;
    margin-left: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 162px;
  }
  .header{
    margin-right: auto;
    margin-bottom: 80px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .column {
    float: left;
    padding: 10px;
  }
  .left {
    width: 20%;
  }
  .right {
    width: 80%;
  }
  .btn{
    background-color: white;
    height: 25px;
    margin-bottom: 20px;
    border: 0.5 solid gray; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    outline: none;
    margin-top: 40px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #myMenu{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block;
  }
  #myMenu li a:hover {
    background-color: #eee;;
  }
  .description{
    width: 100%;
    border: solid 2px black;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .picture{
    float: left;
    padding: 15px;
    width: 30%;
    text-align: center;
  }
  .shirt-description{
    width: 70%;
    float: right;
    padding: 15px;
  }
  .box {
    width: 40px;
    height: 18px;  
    border: none;
    background-color: orange;
    box-sizing: border-box;
    border-radius: 2em / 2em;
    float: right;
    margin-bottom: 30px;
  }
  .small-row{
    display: flex;
  }
  .small-col{
    flex: 33.3%;
    padding: 1px;
    border: solid 0.5px gainsboro;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  .vl {
    border-left: 1.5px solid gray;
    height: 300px;
    left: 30%;
    position: relative;
    top: 0;
    padding: 15px;
  }
  .cart{
    background-color: white;
    padding: 8px 3px;
    width: 15%;
    margin-top: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  a:hover{
    background-color: #ddd;
    color: black;
  }
  .button {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2%;
    cursor: pointer;
    border: none;
    border-radius: 2em / 2em;
  }
  .button1 {background-color: #e7e7e7;}  
  .button2 {background-color: #e7e7e7;} 
  .comment{
    border: 2px solid gray;
    padding: 15px;
  }
  .head-description{
    float: right;
    display: inline;
  }
  .head-description1{
    float: right;
    margin-right: 630px;
    margin-top: 10px;
  }
  fieldset {
    background-color: white;
    height: 150px;
    margin-top: 20px;
  }
  legend {
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 10px;
  }
  